*.so*
*~
*.o
temp/*
build/*
src/obj/
external/curl-7.69.1/config.log
external/curl-7.69.1/config.status
external/curl-7.69.1/curl-config
external/curl-7.69.1/docs/Makefile
external/curl-7.69.1/docs/examples/Makefile
external/curl-7.69.1/docs/libcurl/Makefile
external/curl-7.69.1/docs/libcurl/opts/Makefile
external/curl-7.69.1/include/Makefile
external/curl-7.69.1/include/curl/Makefile
external/curl-7.69.1/include/curl/stamp-h2
external/curl-7.69.1/lib/.deps/
external/curl-7.69.1/lib/.dirstamp
external/curl-7.69.1/lib/Makefile
external/curl-7.69.1/lib/curl_config.h
external/curl-7.69.1/lib/libcurl.vers
external/curl-7.69.1/lib/stamp-h1
external/curl-7.69.1/lib/vtls/.deps/
external/curl-7.69.1/lib/vtls/.dirstamp
external/curl-7.69.1/libtool
external/curl-7.69.1/packages/AIX/Makefile
external/curl-7.69.1/packages/AIX/RPM/Makefile
external/curl-7.69.1/packages/AIX/RPM/curl.spec
external/curl-7.69.1/packages/EPM/Makefile
external/curl-7.69.1/packages/EPM/curl.list
external/curl-7.69.1/packages/Linux/Makefile
external/curl-7.69.1/packages/Linux/RPM/Makefile
external/curl-7.69.1/packages/Linux/RPM/curl-ssl.spec
external/curl-7.69.1/packages/Linux/RPM/curl.spec
external/curl-7.69.1/packages/Makefile
external/curl-7.69.1/packages/Solaris/Makefile
external/curl-7.69.1/packages/Win32/Makefile
external/curl-7.69.1/packages/Win32/cygwin/Makefile
external/curl-7.69.1/packages/vms/Makefile
external/curl-7.69.1/src/.libs/
external/curl-7.69.1/src/Makefile
external/curl-7.69.1/src/curl
external/curl-7.69.1/tests/Makefile
external/curl-7.69.1/tests/certs/Makefile
external/curl-7.69.1/tests/certs/scripts/Makefile
external/curl-7.69.1/tests/configurehelp.pm
external/curl-7.69.1/tests/data/Makefile
external/curl-7.69.1/tests/libtest/Makefile
external/curl-7.69.1/tests/server/Makefile
external/curl-7.69.1/tests/unit/Makefile
external/curl-7.69.1/Makefile
external/curl-7.69.1/include/curl/curlbuild.h

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake

external/extlibs

external/openssl-1.1.1g/***
